:root {
    --one: #B5F8D1;
    --two: #A8D0F0;
    --three: #FDC49B;
    --four: #DE7C8D;
    --five: #E4A0DA;
    --six: #47AFFF;

    --background-color: #eee;
    --background-color-2: #fff;
    --table-border: #888;
    --table-color: #111;

    --color: #111;

    --button-roll: #B5F8D1;
    --button-roll-hover: #a3e0bd;
    --button-reset: #ddd;
    --button-reset-hover: #ccc;
}